
.container {
    text-align: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.logo-container {
    margin-bottom: 20px;
    display:flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
}

.logo {
    width: 400px;
}

.title {
    font-size: 24px;
    color: #5a2ea6;
    margin: 10px 0;
}

.subtitle {
    color: #666;
    margin-bottom: 30px;
    font-size: 1.2rem;
    text-align: center;
}

.subtitle strong {
    color: #5a2ea6;
}

.login-button {
    background-color: #5a2ea6;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top:2.5rem;
    
}

.login-button:hover {
    background-color: #4a2391;
}
