<body class="flex flex-col justify-center items-center h-[90vh] p-2">
  <div class="flex flex-col justify-center items-center"  *ngIf="homepage">
    <div>
      <img
        class="w-[31.25rem] h-[20.75rem]"
        src="../../../../assets/WhatsApp Image 2024-08-28 at 6.16.51 PM.png"
        alt="ImagenDeInicio"
      />
    </div>

    <p class="text-[#000] text-2xl mt-16 text-center">
      Con tu
      <span class="text-[#581b94] font-bold">cajero</span> de confianza accede
      rápido, trabaja mejor.
    </p>
    <button
      (click)="accesslogin()"
      class="bg-[#581b94] text-white font-bold text-lg p-3 mt-12 w-[18.75rem] border rounded-3xl"
    >
      Iniciar Sesion
    </button>
  </div>

  <app-loggin *ngIf="loginpage"/>
</body>
