/* Estilo para el overlay del modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Difuminado del fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Para asegurarse de que el modal esté en la parte superior */
  }
  
  /* Contenido del modal */
  .modal-content {
    background: #ffffff;
    border-radius: 2.5rem;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilo del temporizador */
  .timer {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #5e2a92;
  }
  
  /* Estilo del input para el código */
  .input-code {
    width: 100%;
    padding: 10px;
    border: 2px solid #a6a6a6;
    border-radius: 30px;
    margin-bottom: 20px;
    outline: none;
    text-align: center;
  }
  
  /* Botón de confirmación */
  .confirm-button {
    background-color: #5e2a92;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .confirm-button:hover {
    background-color: #4e1d85;
  }
  
  .invoice-container {
    position: fixed; /* O 'absolute', dependiendo del diseño */
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white; /* Asegúrate de que tenga un fondo visible */
    padding: 20px;
    border-radius: 8px;
    z-index: 20; /* Mayor que el modal para que sea visible encima */
  }
  