<!-- Modal para confirmar el código -->
<div class="modal-overlay" *ngIf="isModalOpen">
    <div class="modal-content">
      <h2 class="text-[#5e2a92] text-lg font-bold mb-4">Confirmar Código</h2>
      
      <!-- Temporizador -->
      <div class="timer">
        Tiempo restante: {{ remainingTime }} segundos
      </div>
      
      <!-- Input para ingresar el código -->
      <input 
        type="text" 
        placeholder="Ingrese su código" 
        class="input-code"
        [(ngModel)]="enteredCode"
      />
      
      <!-- Botón de Confirmación -->
      <button class="confirm-button" (click)="verifyCode()">Confirmar</button>
    </div>
  </div>
  