<body class="flex justify-center items-center h-[90vh] p-2">
  <div class="flex justify-center items-center flex-col">
    <p class="text-[#581b94] text-[1.5rem] mt-5 mb-12 font-bold">Cuenta de Ahorros</p>
    <div class="card">
      <div class="card-overlay"></div>
      <div class="card-content">
        <div class="card-logo">ATM</div>
        <div class="card-balance">$ 6,000.000</div>
        <div class="card-number">xxxx xxxx xxxx</div>
      </div>
    </div>

    <p class="text-[#5e2a92] text-xl mb-3">Transacciones principales</p>
    <div class="linea"></div>

    <div class="flex gap-5 mt-5">
      <button
        class="bg-[#581b94] text-center text-lg text-white rounded-md w-[9.5rem] h-[7.25rem]"
      >
        <img
          src="../../../../assets/retiro-de-efectivo.png"
          alt="paymentsIcon"
          class="ml-[3.125rem] w-[3.75rem]"
        />Sacar plata
      </button>

      <button
        class="bg-[#581b94] text-center text-lg text-white rounded-md w-[9.5rem] h-[7.25rem]"
      >
        <img
          src="../../../../assets/pago-por-clic.png"
          alt="paymentsIcon"
          class="ml-[3.125rem] w-[3.75rem]"
        />Abonar plata
      </button>
    </div>
  </div>
</body>
