<body class="flex justify-center items-center h-[90vh] p-2">
  <div 
      *ngIf="showInfoBox" 
      class="info-box bg-white p-3 rounded-md shadow-lg border-2 border-[#581b94] absolute top-0 left-0 animate-slide-in"
      (click)="copyToClipboard()"
      title="Haz clic para copiar">
      <p class="text-[#581b94] font-bold">{{ dynamicCode }}</p>
      <p *ngIf="copied" class="text-green-500">¡Clave copiada!</p> <!-- Muestra mensaje de copiado -->
    </div>
  <div class="flex justify-center items-center flex-col relative">
    <p class="text-[#581b94] text-[1.5rem] mt-5 mb-12 font-bold">Cuenta de Ahorros</p>
    
    <div class="card">
      <div class="card-overlay"></div>
      <div class="card-content">
        <div class="card-logo">ATM</div>
        <div class="card-balance">${{ user.mesagge.saldo | number:'1.0-2' }}</div>
        <div class="card-number">{{user.mesagge.numberPhone}}</div>
      </div>
    </div>

    <p class="text-[#5e2a92] text-xl mb-3">Transacciones principales</p>
    <div class="linea"></div>

    <div class="flex gap-5 mt-5">
      <button
        class="bg-[#581b94] text-center text-lg text-white rounded-md w-[9.5rem] h-[7.25rem]"
        (click)="Options(true)"
      >
        <img
          src="../../../../assets/retiro-de-efectivo.png"
          alt="paymentsIcon"
          class="ml-[3.125rem] w-[3.75rem]"
        />Sacar plata
      </button>

      <button
        class="bg-[#581b94] text-center text-lg text-white rounded-md w-[9.5rem] h-[7.25rem]"
      >
        <img
          src="../../../../assets/pago-por-clic.png"
          alt="paymentsIcon"
          class="ml-[3.125rem] w-[3.75rem]"
        />Consignar plata
      </button>
    </div>
  </div>

  <app-optionspage
    class="absolute inset-0 bg-[#582b94] z-10"
    *ngIf="Option"
    (changeState)="Options($event)"
  />
</body>