body {
  background-color: #5e2a92; /* Fondo morado */
}

.atm-interface {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff; /* Fondo blanco del cuadro */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  border-radius: 2.5rem; /* Bordes redondeados */
  margin-top: 20px;
}

.linea {
  border: 2px solid #a6a6a6;
  width: 100%;
  margin: 20px 0; /* Margen superior e inferior */
}

.withdraw-option {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}


.withdraw-option:hover .circle {
  background-color: #581b94; /* Color morado en hover */
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.circle::before {
  content: '>'; /* Icono de flecha */
  color: transparent; /* No mostrar el icono por defecto */
  font-size: 12px;
}
.withdraw-option.active {
  border: 2px solid #5e35b1; /* borde morado cuando está activo */
  background-color: #e6e6fa; /* color de fondo cuando está activo */
  color: #5e35b1; /* color del texto cuando está activo */
}

.withdraw-option.active .circle {
  border-color: #5e35b1; /* Color del borde cuando está activo */
  background-color: #5e35b1; /* Círculo morado cuando está activo */
}

.withdraw-option.active .circle::before {
  color: white; /* Mostrar el icono blanco cuando está activo */
}

.withdraw-option:not(.active) .circle::before {
  color: #ccc; /* Color gris para el icono cuando no está activo */
}

input[type="number"] {
  width: calc(100% - 40px); /* Ajuste de ancho */
  margin: auto;
  padding: 5px 10px;
  font-size: 1rem;
  color: #5e2a92; /* Color del texto */
  border: none;
  border-bottom: 1px solid #a6a6a6;
  text-align: center;
}