<body class="flex justify-center items-center gap-9 flex-col h-[90vh] bg-[#5e2a92]">
  <h2 class="text-xl text-[#fff]">¿Cuánta plata desea sacar?</h2>

  <div class="atm-interface">
    <div class="linea mb-4"></div>

    <!-- Botones de cantidad -->
    <button
      class="withdraw-option"
      [ngClass]="{'active': isActive(20000)}"
      (click)="selectAmount(20000)"
    >
      <span class="circle"></span> 20.000
    </button>

    <button
      class="withdraw-option"
      [ngClass]="{'active': isActive(50000)}"
      (click)="selectAmount(50000)"
    >
      <span class="circle"></span> 50.000
    </button>

    <button
      class="withdraw-option"
      [ngClass]="{'active': isActive(100000)}"
      (click)="selectAmount(100000)"
    >
      <span class="circle"></span> 100.000
    </button>

    <button
      class="withdraw-option"
      [ngClass]="{'active': isActive(600000)}"
      (click)="selectAmount(600000)"
    >
      <span class="circle"></span> 600.000
    </button>

    <!-- Input para ingresar un monto personalizado -->
    <input
      type="number"
      placeholder="Ingrese un valor"
      class="placeholder:text-[#5e2a92] mt-10 border-b border-[#a6a6a6] mb-8"
      [(ngModel)]="customAmount"
      value="customAmount"
      (ngModelChange)="resetSelection(customAmount)"
    />
  </div>

  <!-- Botón de aceptar -->
  <button
    class="text-center font-semibold text-[#581b94] rounded-[50px] h-[3.125rem] w-[8.125rem] bg-[#ffffff]"
    (click)="openModal()"
  >
    Aceptar
  </button>

  <app-code-confirmation-modal 
    class="absolute inset-0 bg-[#582b94] z-10"
    *ngIf="isModalOpen"
  ></app-code-confirmation-modal>
</body>
